<footer class="footer">
  <small>
    <a href="http://www.github.com/rodrigotavio91/projeto" target="_blank">Projeto</a> 
    desenvolvido por <a href="http://www.github.com/rodrigotavio91" target="_blank">Rodrigo Otavio</a>
  </small>
</footer>
