<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="active"><%= link_to "Home", root_path %></li>
  <li role="presentation"><%= link_to "Estudantes", students_path %></li>
  <li role="presentation"><%= link_to "Cursos", courses_path %></li>
  <li role="presentation"><a href="#">Matrículas</a></li>
</ul>